import /init.recovery.qcom_decrypt.rc

on early-init
    # SELinux permissive for recovery + decrypt
    exec u:r:recovery:s0 -- /system/bin/set_permissive.sh

on init
    # vendor HAL'ler için (early-init DEĞİL)
    setenforce 0
    # Panel brightness
    write /sys/class/backlight/panel0-backlight/brightness 200

    # USB configfs
    setprop sys.usb.configfs 1
    setprop sys.usb.config adb

on fs
    # Setup bootdevice symlink (needed for fstab paths)
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    # Trigger wrapped key decrypt helper
    start wrapped-key

service wrapped-key /system/bin/wrappedkey-fix.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service set_permissive /system/bin/set_permissive.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service health-hal-2-1 /system/bin/android.hardware.health@2.1-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
